@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
<p>Welcome to my digital canvas! This is where imagination meets reality, and ideas transform into tangible creations. As you navigate through my personal website,
    you’ll discover a curated showcase of my projects, each a testament to my passion for innovation and design. From intricate code to dynamic designs,
    every project is a piece of my journey as a creator. So take a moment, explore, and let’s connect through the art of creation. Enjoy your visit!</p>
<div class="text-center">
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
